amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
certifi==2022.12.7
chardet==3.0.4
cybox==2.1.0.12
Django==1.9.2
django-datatables-view==1.16.0
dnspython==1.15.0
idna==2.7
ioc-writer==0.3.3
ipaddr==2.2.0
ipwhois==1.0.0
kombu==4.2.1
lxml==4.2.4
psycopg2-binary==2.7.5
py2neo==2.0.9
python-dateutil==2.7.3
pythonwhois==2.4.3
pytz==2018.5
redis==2.10.6
requests==2.19.1
requests-file==1.4.3
six==1.11.0
stix==1.2.0.0
tldextract==2.2.0
urllib3==1.23
vine==1.1.4
