textarea{
	height:90px;
	width:100%;
}

input[type="text"] {
	width:100%;
}

pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow:auto;
}

select[multiple]{
	width:100%;
	height:120px;
}

div {
	word-wrap: break-word;
}

table{
	table-layout:fixed;
}

div#network {
        height: 700px;
        border: 1px solid lightgray;
}

