{% extends "base.html" %}

{% block title %}
<title>Cluster</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
    function(){
        $('#cluster_table').dataTable({
            "processing":true,
            "serverSide":true,
            "ajax": "{% url 'cluster_data' %}",
            "order":[0, 'desc'],
        });
    }
);
</script>
{% endblock%}

{% block container %}

<div class="col-md-5" id="form" >

<div class="panel panel-primary">

<div class="panel-heading">Cluster</div>
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
<tr><th class="col-sm-1"></th><td class="col-sm-3"></td></tr>
{{form.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create" value="Create">
<a class="btn btn-info btn-md" href="/visualize/cluster">Visualize</a>
<a class="btn btn-warning btn-md" href="/vis_anonymize/cluster">Visualize(mask)</a>
</form>

</div><!--/.panel-body-->

</div><!--/.panel-->

<div class="panel panel-default">

<div class="panel-heading">Import/Export {{model|capfirst}} </div>
<div class="panel-body">

<!--
<a class="btn btn-info btn-md " href="/export/node/">Export Node</a>
<a class="btn btn-info btn-md " href="/export/relation/">Export Relation</a>
<a class="btn btn-info btn-md " href="/export/subcluster/">Export SubCluster</a>
-->
<form enctype="multipart/form-data" method=post>{% csrf_token %}
<table >
{{iform.as_table}}
</table>
<br>
<input class="btn btn-warning btn-md" type="submit" name="import_csv" value="Import CSV">
<input class="btn btn-warning btn-md" type="submit" name="import_ioc" value="Import IOC">
<!--<input class="btn btn-warning btn-md" type="submit" name="import_stix" value="Import STIX">-->
<hr>
<a class="btn btn-info btn-md " href="/export/cluster/">Export All Cluster</a>
<input class="btn btn-danger btn-md" type="submit" name="delete" value="Delete All Cluster">
</form>
</div><!--/.panel-body-->

</div><!--/.panel-->

</div><!--/#form-->

<div id="list" class="col-md-7">

<table id="cluster_table" class="table table-condensed table-hover table-striped display" cellspacing="0" width="100%">
<thead><tr >
<th class="col-md-1">id</th>
<th class="col-md-2">name</th>
<th class="col-md-4">description</th>
<th class="col-md-1">firstseen</th>
</tr></thead>
</table>

</div><!--/cluster-->

</div><!--/#list-->

{% endblock %}
