{% extends "base.html" %}

{% block title %}
<title>Local DB</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
        function(){
                $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                } );
                $('#node_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": "{% url 'node_data' %}",
                    "order":[0, 'desc'],
                });
                $('#relation_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": "{% url 'relation_data' %}",
                    "order":[0, 'desc'],
                });
                $('#reltemplate_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": "{% url 'reltemplate_data' %}",
                    "order":[0, 'desc'],
                });
                $('#index_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": "{% url 'index_data' %}",
                    "order":[0, 'desc'],
                });
                $(".entity_buttons").toggle();
                $('.btn-toggle').click(function(e){
			e.preventDefault();
                        if($(this).attr("value")=="entity_buttons"){
                                $(".entity_buttons").toggle();
                        };
                });
                function table_btn(b){
                        if(b.hasClass("node_id")){
                                $("select#id_entity").val("node");
                        	$("input#id_id").val(b.attr("value"));
                        }else if(b.hasClass("rel_id")){
                                $("select#id_entity").val("rel");
                        	$("input#id_id").val(b.attr("value"));
                        };
                };
                $('tbody').on('click', '.btn', function (e) {
                        table_btn($(this));
                });
        }
);
</script>
{% endblock%}

{% block container %}

<div class="modal" id="entity_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Node/Relation on Local DB</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
<table class="table table-condensed">
{{rcform.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create" value="Create">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="index_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Node Index</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
<table class="table table-condensed">
{{iform.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create_index" value="Create">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="reltemplate_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Relation Template</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
<table class="table table-condensed">
{{rtform.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create_template" value="Create">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="import_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Import/Export {{model|capfirst}} </h4>
</div>
<div class="modal-body">
<form enctype="multipart/form-data" method=post>{% csrf_token %}
<table >
{{ufform.as_table}}
</table>
<br>
{% if model == "node" or model == "relation" %}
<input class="btn btn-warning btn-md" type="submit" name="import" value="Import {{model}} CSV">
<hr>
<a class="btn btn-info btn-md" href="/export/{{model}}">Export CSV</a>
{% else %}
<input class="btn btn-warning btn-md" type="submit" name="import_node" value="Import Node CSV">
<input class="btn btn-warning btn-md" type="submit" name="import_relation" value="Import Ralation CSV">
<input class="btn btn-warning btn-md" type="submit" name="import_ioc" value="Import IOC">
<input class="btn btn-warning btn-md" type="submit" name="import_stix" value="Import STIX">
<hr>
<a class="btn btn-info btn-md" href="/export/node">Export Node CSV</a>
<a class="btn btn-info btn-md" href="/export/relation">Export Relation CSV</a>
{% endif %}
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="push_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Push All to Graph DB </h4>
</div>
<div class="modal-body">
<h4>Are you sure?</h4>
<form method=post>{% csrf_token %}
<input class="btn btn-info btn-md" type="submit" name="push_all" value="Push All">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div id="schema" class="col-md-12">


<div id="list" class="col-md-12">
<h2>Nodes/Relations</h2>
<ul class="nav nav-pills">
<li><a data-toggle="modal" href="#index_form">Create Index</a></li>
<li><a data-toggle="modal" href="#reltemplate_form">Create Template</a></li>
<li><a data-toggle="modal" href="#entity_form">Create Node/Relation</a></li>
<li ><a data-toggle="modal" href="#import_form">Import/Export</a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">DB<span class="caret"></span></a>
<ul class="dropdown-menu">
<li ><a data-toggle="modal" href="#push_form">Push All to Graph DB</a></li>
<li ><a href="/delete/{{model}}">Delete All from Local DB</a></li>
</ul></li>
</ul>
<hr>
<ul class="nav nav-pills">
<li class="active"><a data-toggle="tab" href="#nodes">Nodes({{nodes|length}})</a></li>
<li ><a data-toggle="tab" href="#relations">Relations({{relations|length}})</a></li>
<li ><a data-toggle="tab" href="#index">Index</a></li>
<li ><a data-toggle="tab" href="#reltemplate">Template</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="nodes">
<table id="node_table" class="table table-hover table-striped display" width="100%">
<thead><tr>
<th class="col-sm-1">ID</th>
<th class="col-sm-1">Ref</th>
<th class="col-sm-2">Created</th>
<th class="col-sm-2">Index</th>
<th class="col-sm-2">Value</th>
<th class="col-sm-4">SubCluster/Cluster</th>
</tr></thead>
</table>
</div><!--/nodes-->

<div class="tab-pane" id="index">
<table id="index_table" class="table table-hover table-striped display" width="100%">
<thead><tr>
<th class="col-sm-1">ID</th>
<th class="col-sm-1">Icon</th>
<th class="col-sm-5">Label</th>
<th class="col-sm-5">Key</th>
</tr></thead>
</table>
</div>

<div class="tab-pane" id="reltemplate">
<table id="reltemplate_table" class="table table-condensed table-hover table-striped display" width="100%">
<thead><tr>
<th class="col-sm-1">ID</th>
<th class="col-sm-4">Src</th>
<th class="col-sm-3">Rel</th>
<th class="col-sm-4">Dst</th>
</tr></thead>
</table>
</div>


<div class="tab-pane" id="relations" >
<table id="relation_table" class="table table-condensed table-hover table-striped display" width="100%">
<thead>
<tr>
<th class="col-md-1">ID</th>
<th class="col-md-1">Ref</th>
<th class="col-md-2">Firstseen</th>
<th class="col-md-0.5"></th>
<th class="col-md-3">Src</th>
<th class="col-md-1">Rel</th>
<th class="col-md-0.5"></th>
<th class="col-md-3">Dst</th>
</tr>
</thead>
</table>

</div><!--/relations-->

</div><!--/tab-content-->

</div><!--col-md-8-->

{% endblock %}
