{% extends "base.html" %}

{% block title %}
<title>Local DB</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
        function(){
                $('#node_table').DataTable({"order":[0, 'desc']});
                $('#relation_table').DataTable({"order":[0, 'desc']});
                $('#index_table').DataTable({"order":[0, 'desc']});
                $(".entity_buttons").toggle();
                $('.btn-toggle').click(function(e){
			e.preventDefault();
                        if($(this).attr("value")=="entity_buttons"){
                                $(".entity_buttons").toggle();
                        };
                });
                function table_btn(b){
                        if(b.hasClass("node_id")){
                                $("select#id_entity").val("node");
                        	$("input#id_id").val(b.attr("value"));
                        }else if(b.hasClass("rel_id")){
                                $("select#id_entity").val("rel");
                        	$("input#id_id").val(b.attr("value"));
                        };
                };
                $('tbody').on('click', '.btn', function (e) {
                        table_btn($(this));
                });
        }
);
</script>
{% endblock%}

{% block container %}

<div class="col-md-4" id="form" >

<div class="panel panel-primary">

<div class="panel-heading">Create Node/Relation on Local DB</div>
<div class="panel-body">
<form method=post>{% csrf_token %}
<table >
{{form.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create" value="Create">
</form>
</div><!--/.panel-body-->

</div><!--/.panel-->

{% if model %}
<div class="panel panel-primary">

<div class="panel-heading">Import/Export {{model|capfirst}} </div>
<div class="panel-body">

<form enctype="multipart/form-data" method=post>{% csrf_token %}
<table >
{{iform.as_table}}
</table>
<br>
<br>
<input class="btn btn-warning btn-md" type="submit" name="import" value="Import CSV">
<a class="btn btn-info btn-md" href="/export/{{model}}">Export CSV</a>
</form>
</div><!--/.panel-body-->

</div><!--/.panel-->
{% endif %}

<div class="panel panel-primary">

<div class="panel-heading">Manipulate Entity</div>
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
{{eform.as_table}}
</table>
<input class="btn btn-info btn-md" type="submit" name="push" value="Push to Graph">
<input class="btn btn-danger btn-md" type="submit" name="delete" value="Delete Entity">
<br>
<br>
<input class="btn btn-info btn-md" type="submit" name="push_all" value="Push All">
<input class="btn btn-danger btn-md" type="submit" name="delete_all" value="Delete All">
</form>
</div><!--/.panel-body-->

</div><!--/.panel-->

</div><!--/col-md-4-->

<div id="list" class="col-md-8">

<ul class="nav nav-pills">
{% if nodes %}
  <li class="active"><a data-toggle="tab" href="#nodes">Nodes({{nodes|length}})</a></li>
  {% if relations %}
    <li><a data-toggle="tab" href="#relations">Relations({{relations|length}})</a></li>
  {% endif %}
{% elif relations %}
  <li class="active"><a data-toggle="tab" href="#relations">Relations({{relations|length}})</a></li>
{% endif %}
</ul>

<div class="tab-content">

{% if nodes %}
<div class="tab-pane active" id="nodes">

<table id="node_table" class="table table-condensed table-hover table-striped">

<thead><tr>
<th class="col-md-2">ID/Ref</th>
<th>Node</th>
<th>SubCluster/Cluster</th>
</tr></thead>

<tbody>

{% for n in nodes %}
<tr>
<td>
<a class="btn btn-default btn-xs node_id" value="{{n.id}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a class="btn btn-info btn-sm" href="/node/{{n.id}}">{{n.id}}</a>
<a class="btn btn-default btn-sm">{{n.ref}}</a>
</td>
<td><table class="table table-condensed table-striped">
<tr><th>{{n.label}} {{n.key_property.key.name}}</th></tr>
<tr><td >{{n.key_property.value}}</td></tr>
</table></td>
<td><table class="table table-condensed">
{% for s in n.subcluster.all %}
<tr><td><a href="/subcluster/{{s.id}}">{{s.name}}</a></td>

<td><table class="table table-condensed">
{% for c in s.cluster.all %}
<tr><td><a href="/cluster/{{c.id}}">{{c.name}}</a></td></tr>
{% endfor %}
</table></td>

</tr>
{% endfor %}
</table></td>
</tr>
{% endfor %}
</tbody>

</table>

</div><!--/nodes-->
{% endif %}

{% if relations %}

{% if not nodes %}
<div class="tab-pane active" id="relations" >
{% else %}
<div class="tab-pane" id="relations" >
{% endif %}

<table id="relation_table" class="table table-condensed table-hover table-striped">

<thead>
<tr>
<th class="col-md-2">ID/Ref</th>
<th class="col-md-3">Relation</th>
<th class="col-md-3">SubCluster/Cluster</th>
</tr>
</thead>

<tbody>

{% for r in relations %}

<tr>

<td>
<a class="btn btn-default btn-sm rel_id" value="{{r.id}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a class="btn btn-info btn-sm" href="/relation/{{r.id}}">{{r.id}}</a>
<a class="btn btn-default btn-sm">{{r.ref}}</a><br><br>
</td>
<td><table class="table table-condensed table-striped">
<tr><th>{{r.src.label.name}} {{r.src.key_property.key.name}}</th><td><a href="/node/{{r.src.id}}">{{r.src.key_property.value}}</a></td></tr>
<tr><td>{{r.type.name}}</td></tr>
<tr><th>{{r.dst.label.name}} {{r.dst.key_property.key.name}}</th><td><a href="/node/{{r.dst.id}}">{{r.dst.key_property.value}}</a></td></tr>
</table></td>
<td class="subcluster"><table class="table table-condensed">
{% for s in r.subcluster.all %}
<tr><td><a href="/subcluster/{{s.id}}">{{s}}</a></td>
<td><table class="table table-condensed">{% for c in s.cluster.all %}
<tr><td><a href="/cluster/{{c.id}}">{{c}}</a></td></tr>
{% endfor %}</table></td>
{% endfor %}</table></td>

</tr>

{% endfor %}

</tbody>

</table>

</div><!--/relations-->
{% endif %}

</div><!--/tab-content-->

</div><!--col-md-8-->

{% endblock %}
