{% extends "base.html" %}

{% block title %}
<title>{{model|capfirst}}</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
        function(){
       		$(".cluster_form").toggle();
       		$(".subcluster_form").toggle();
		$('.btn-toggle').click(function(){
			if($(this).attr("value")=="cluster_form"){
       				$(".cluster_form").toggle();
	       		};
			if($(this).attr("value")=="subcluster_form"){
       				$(".subcluster_form").toggle();
	       		};
	       	});
                $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                } );
		$('#property_table').DataTable({"order":[0, 'desc']});
		$('#relation_table').DataTable({"order":[0, 'desc']});
		$('#subcluster_table').DataTable({"order":[0, 'desc']});
                //$('#id_firstseen').datetimepicker({
                //        format:'Y-m-d H:i'
                //});
                function table_btn(b){
                        if(b.hasClass("node_id")){
                                $("select#id_entity").val("node");
                        	$("input#id_id").val(b.attr("value"));
                        }else if(b.hasClass("rel_id")){
                                $("select#id_entity").val("rel");
                        	$("input#id_id").val(b.attr("value"));
                        };
                };
                $('tbody').on('click', '.btn', function (e) {
                        table_btn($(this));
                });
	}
);
</script>
{% endblock%}

{% block container %}

<div class="modal" id="node_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit Node</h4>
</div>
<div class="modal-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
<tr><th class="col-md-1"></th><td class="col-md-3"></td></tr>
{{nform.as_table}}
</table>
<input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
<input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
<input class="btn btn-info btn-sm" type="submit" name="push_entity" value="Push to Graph DB">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="col-md-4">

<div class="panel panel-primary">
<div class="panel-heading">{{model|capfirst}}</div>
<div class="panel-body">
<table class="table table-condensed"><tbody>
<tr><th class="col-md-3">ID/Ref</th>
<td >
<a class="btn btn-primary btn-sm" href="/{{model}}/{{node.id}}">{{node.id}}</a>
<a class="btn btn-default btn-sm">{{node.ref}}</a>
</td></tr>
<!--<a class="btn btn-default btn-xs node_id" value="{{node.id}}">E</a>-->
</td></tr>
<tr><th>Index</th><td>{{node.index}}</td></tr>
<tr><th>Value</th><td>{{node.value}}</td></tr>
</tbody></table>
<a class="btn btn-default" data-toggle="modal" href="#node_form">Edit</a></li>
</div><!--/.panel-body-->
</div><!--/.panel-->

<div class="panel panel-info">
<div class="panel-heading">Manipulate Property</div>
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
{{pform.as_table}}
</table>
<input class="btn btn-info btn-md" type="submit" name="add_property" value="Add Property">
<input class="btn btn-warning btn-md" type="submit" name="remove_property" value="Remove Property">
</form>
</div><!--/.panel-body-->
</div><!--/.panel-->
</div>

<div id="list" class="col-md-8">
{% if dataset %}
<div style="margin: 0 auto;" id="network" ></div>
<script type="text/javascript">
var nodes = [
{% for n in dataset.nodes %}{
        'id':'{{n.id}}',
        'label':'{{n.label}}',
        'group':'{{n.group}}',
        'title': '<table>{% for t in n.title %}<tr><td>{{t|escapejs}}</td></tr>{% endfor %}</table>',
},
{% endfor %}];
var edges = [
{% for e in dataset.edges %}{
        'from':'{{e.from}}',
        'to':'{{e.to}}',
        'label':'{{e.label}}',
        'title': '<table>{% for t in e.title %}<tr><td>{{t|escapejs}}</td></tr>{% endfor %}</table>',
},
{% endfor %}];
var container = document.getElementById('network');
var data = {
        nodes: nodes,
        edges: edges
};
options = visOption();
options.layout = {"randomSeed":1};
var network = new vis.Network(container, data, options);
</script>
{% endif %}


<ul class="nav nav-pills">
  <li class="active" ><a data-toggle="tab" href="#properties">Properties({{node.properties.all|length}})</a></li>
  <li ><a data-toggle="tab" href="#relation">Relation({{relation|length}})</a></li>
  <li ><a data-toggle="tab" href="#subcluster">SubCluster({{node.subcluster.all|length}})</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualize<span class="caret"></a>
    <ul class="dropdown-menu">
        <li ><a href="?vis=1">Show</a></li>
        <li ><a href="?vis=2">Anonymize</a></li>
        <li ><a href="?vis=0">Hide</a></li>
        <li ><a href="/visualize/node/{{node.id}}">Large view</a>
        <li ><a href="/vis_anonymize/node/{{node.id}}">Large view(mask)</a>
    </ul>
  </li>


</ul>

<div class="tab-content">

<div class="tab-pane active" id="properties" >
<table id="property_table" class="table table-condensed table-stripe table-hover">

<thead><tr>
<th class="col-md-1">ID</th>
<th class="col-md-1">Key</th>
<th>Value</th>
</tr></thead>

<tbody>
{% for p in node.properties.all %}
<tr>
<td>{{p.id}}</td>
<td>{{p.key.name}}</td>
<td>{{p.value}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--/#properties-->

<div class="tab-pane" id="relation" >

<table id="relation_table" class="table table-condensed table-stripe table-hover">
<thead>
<th class="col-sm-1">ID</th>
<th class="col-sm-1">Ref</th>
<th class="col-sm-2">Src Node</th>
<th class="col-sm-1">Rel</th>
<th class="col-sm-2">Dst node</th>
<th class="col-sm-6">Subcluster/Cluster</th>
</thead>
<tbody>
{% for r in relation %}
<tr>
<td><a class="btn btn-info btn-sm" href="/relation/{{r.id}}">{{r.id}}</a></td>
<td><a class="btn btn-default btn-sm" >{{r.ref}}</a></td>
<td><a href="/node/{{r.src.id}}">{{r.src.value}}</a></td>
<td>{{r.type.name}}</td>
<td><a href="/node/{{r.dst.id}}">{{r.dst.value}}</a></td>
<td><table class="table">
{% for s in r.subcluster.all %}
<tr><td><a href="/subcluster/{{s.id}}">{{s.name}}</a></td>
<td><table class="table">
{% for c in s.cluster.all %}
<tr><td><a href="/cluster/{{c.id}}">{{c.name}}</a></td></tr>
{% endfor %}</table></td>
{% endfor %}</table></td>
</tr>
{% endfor %}
</tbody>
</table>

</div><!--/#rel_from-->

<div class="tab-pane" id="subcluster" >

<table id="subcluster_table" class="table table-condensed table-stripe table-hover">
<thead>
<th class="col-md-1">ID</th>
<th class="col-md-6">SubCluster</th>
<th class="col-md-5">Cluster</th>
</thead>
<tbody>
{% for s in node.subcluster.all %}
<tr>
<td>{{s.id}}</td>
<td><a href="/subcluster/{{s.id}}">{{s.name}}</a></td>
<td><table>
{% for c in s.cluster.all %}
<tr><td><a href="/cluster/{{c.id}}">{{c.name}}</a></td></tr>
{% endfor %}
</table></td>
</tr>
{% endfor %}
</tbody>
</table>

</div><!--/#rel_to-->

</div><!--/tab-content-->


</div><!--/tab-content-->

</div><!--col-md-8-->

{% endblock %}
