{% extends "cluster_list.html" %}

{% block title %}
<title>SubCluster</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
    function(){
        $('#subcluster_table').dataTable({
            "processing":true,
            "serverSide":true,
            "ajax": "{% url 'subcluster_data' %}",
            "order":[0, 'desc'],
        });
    }
);
</script>
{% endblock%}

{% block container %}

<div class="col-md-4" id="form" >

<div class="panel panel-primary">

<div class="panel-heading">SubCluster</div>
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
<tr><th class="col-sm-1"></th><td class="col-sm-3"></td></tr>
{{form.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create" value="Create">
<a class="btn btn-info btn-md" href="/visualize/subcluster">Visualize</a>
<a class="btn btn-warning btn-md" href="/vis_anonymize/subcluster">Visualize(mask)</a>
</form>

</div><!--/.panel-body-->

</div><!--/.panel-->

</div><!--/#form-->

<div id="list" class="col-md-8">

<table id="subcluster_table" class="table table-condensed table-hover table-striped display">
<thead><tr>
<th class="col-md-1">ID</th>
<th class="col-md-3">Name</th>
<th class="col-md-2">Cluster</th>
<th class="col-md-4">Description</th>
<th class="col-md-2">Firstseen</th>
</tr></thead>

</table>

</div><!--/subcluster-->

</div><!--/#list-->

{% endblock %}
