{% extends "cluster_list.html" %}

{% block title %}
<title>SubCluster</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
	function(){
                $('#subcluster_table').DataTable({"order":[0, 'desc']});
		//$('#id_firstseen').datetimepicker({
		//	format:'Y-m-d H:i'
		//});
	}
);
</script>
{% endblock%}

{% block container %}

<div class="col-md-4" id="form" >

<div class="panel panel-primary">

<div class="panel-heading">SubCluster</div>
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
<tr><th class="col-sm-1"></th><td class="col-sm-3"></td></tr>
{{form.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create" value="Create">
<a class="btn btn-info btn-md" href="/visualize/subcluster">Visualize</a>
<a class="btn btn-warning btn-md" href="/vis_anonymize/subcluster">Visualize(mask)</a>
</form>

</div><!--/.panel-body-->

</div><!--/.panel-->

</div><!--/#form-->

<div id="list" class="col-md-8">

<table id="subcluster_table" class="table table-condensed table-hover table-striped">

<thead><tr>
<th class="col-sm-1">ID</th>
<th>Name</th>
<th >Cluster</th>
<th class="col-sm-3">Description</th>
<th class="col-sm-1">Firstseen</th>
</tr></thead>

<tbody>
{% for s in subcluster %}
<tr>
<td><a class="btn btn-info btn-sm" href="/subcluster/{{s.id}}">{{s.id}}</a></td>
<td>{{s.name}}</td>
<td><table>
{% for c in s.cluster.all %}
<tr><td><a href="/cluster/{{c.id}}">{{c.name}}</a></td></tr>
{% endfor%}
</table></td>
<td><pre>{{s.description}}</pre></td>
<td>{{s.firstseen|date:"Y-m-d H:i"}}</td>
</tr>
{% endfor %}
</tbody>

</table>

</div><!--/subcluster-->

</div><!--/#list-->

{% endblock %}
