{% extends "cluster_view.html" %}

{% block title %}
<title>{{model|capfirst}}</title>
{% endblock %}

{% block jquery %}
<script>
$(document).ready(
        function(){
       		$(".cluster_form").toggle();
       		$(".subcluster_form").toggle();
		$('.btn-toggle').click(function(){
			if($(this).attr("value")=="cluster_form"){
       				$(".cluster_form").toggle();
	       		};
			if($(this).attr("value")=="subcluster_form"){
       				$(".subcluster_form").toggle();
	       		};
	       	});
                $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                } );
                $('#node_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": {
                        "url": "/node/data",
                        "data": {'subcluster':{{cluster.id}}},
                    },
                    "order":[0, 'desc'],
                });
                $('#relation_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": {
                        "url": "/relation/data",
                        "data": {'subcluster':{{cluster.id}}},
                    },
                    "order":[0, 'desc'],
                });
                $('#cluster_table').dataTable({
                    "processing":true,
                    "serverSide":true,
                    "ajax": {
                        "url": "/cluster/data",
                        "data": {'subcluster':{{cluster.id}}},
                    },
                    "order":[0, 'desc'],
                });
                //$('#id_firstseen').datetimepicker({
                //        format:'Y-m-d H:i'
                //});
                function table_btn(b){
                        if(b.hasClass("node_id")){
                        	if(b.hasClass("to_e")){
                                	$("select#id_entity").val("node");
                        		$("input#id_id").val(b.attr("value"));
                        	}else if(b.hasClass("to_s")){
                                	$("select#id_entity").val("node");
                        		$("input#id_src_value").val(b.attr("value"));
                        	}else if(b.hasClass("to_d")){
                                	$("select#id_entity").val("node");
                        		$("input#id_dst_value").val(b.attr("value"));
				}
                        }else if(b.hasClass("rel_id")){
                                $("select#id_entity").val("rel");
                        	$("input#id_id").val(b.attr("value"));
                        };
                };
                $('tbody').on('click', '.btn', function (e) {
                        table_btn($(this));
                });
	}
);
</script>
{% endblock%}

{% block container %}

<div class="modal" id="subcluster_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit SubCluster</h4>
</div>
<div class="modal-body">
<form method=post>{% csrf_token %}
<table class="table table-condensed">
<tr><th class="col-sm-1"></th><td class="col-sm-4"></td></tr>
{{form.as_table}}
</table>
<input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
<input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
<br><br>
<input class="btn btn-info btn-sm" type="submit" name="push_all" value="Push All Entity">
<!--<input class="btn btn-warning btn-sm" type="submit" name="remove_all" value="Remove All Entity">-->
<input class="btn btn-danger btn-sm" type="submit" name="delete_all" value="Delete All Entity">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="template_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Node/Relation</h4>
</div>
<div class="modal-body">
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="rel_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Node/Relation</h4>
</div>
<div class="modal-body">
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="col-md-12" id="subcluster" >

<div class="panel panel-primary">
<div class="panel-heading">
<a data-toggle="collapse" href="#collapse1" style="color:white">
{{model|capfirst}}
</a>
<a class="btn btn-default btn-xs" data-toggle="modal" href="#subcluster_form">Edit</a>
</div><!--.panel-heading-->
<div id="collapse1" class="panel-collapse collapse in">
<div class="panel-body">
<div class="row">
<div class="col-md-6">
<table class="table table-condensed">
<tr><th class="col-md-3">ID</th><td><a class="btn btn-primary btn-sm" href="">{{cluster.id}}</a></td></tr>
<tr><th>Name</th><td>{{cluster.name}}</td></tr>
<tr><th>First seen</th><td>{{cluster.firstseen}}</td></tr>
<tr><th>Tag</th>
<td>
{% for t in cluster.tag.all %}
{{t}}<br>
{% endfor %}
</td></tr>
</table>
<!--
<a class="btn btn-info" data-toggle="modal" href="#rel_form">Create Node/Relation</a>
<a class="btn btn-info" data-toggle="modal" href="#template_form">Create Node/Relation</a>
-->
</div>
<div class="col-md-6">
<table class="table table-condensed">
<tr><th class="col-md-3">Description</th><td><pre>{{cluster.description}}</pre></td></tr>
</table>
</div><!--/.panel-body-->
</div><!--/collapse-->
</div><!--.panel-->
</div>

</div>

</div><!--.subcluster-->

<div class="col-md-6" id="accordion" >
<div class="panel panel-default">
<div class="panel-heading">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" >
Create Node/Relation
</a></div><!--.panel-heading-->
<div id="collapse3" class="panel-collapse collapse">
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table">
{{relform.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create" value="Create">
</form>
</div><!--/.panel-body-->
</div><!--.collapse-->

<div class="panel-heading">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" >
Use Template
</a>
</div>
<div id="collapse2" class="panel-collapse collapse">
<div class="panel-body">
<form method=post>{% csrf_token %}
<table class="table">
{{tform.as_table}}
</table>
<input class="btn btn-primary btn-md" type="submit" name="create_relation" value="Create">
</form>
</div><!--/.panel-body-->
</div>
</div><!--/.panel-->
</div>


<div class="col-md-6">
<div class="btn-group">
<a class="btn btn-info" data-toggle="collapse" href="#network">Visualize</a>
<a class="btn btn-primary" href="?vis=1">Show</a>
<a class="btn btn-primary" href="?vis=2">Anonymize</a>
<a class="btn btn-primary" href="?vis=0">Hide</a>
<a class="btn btn-primary" href="/visualize/subcluster/{{cluster.id}}">Large View</a>
<a class="btn btn-primary" href="/vis_anonymize/subcluster/{{cluster.id}}">Large View(Anonymized)</a>
</div>
{% if dataset %}
<div style="margin: 0 auto;" id="network" ></div>
<script type="text/javascript">
var nodes = [
{% for n in dataset.nodes %}{
        'id':'{{n.id}}',
        'label':'{{n.label}}',
        'group':'{{n.group}}',
        'title': '<table>{% for t in n.title %}<tr><td>{{t|escapejs}}</td></tr>{% endfor %}</table>',
},
{% endfor %}];
var edges = [
{% for e in dataset.edges %}{
        'from':'{{e.from}}',
        'to':'{{e.to}}',
        'label':'{{e.label}}',
        'title': '<table>{% for t in e.title %}<tr><td>{{t|escapejs}}</td></tr>{% endfor %}</table>',
},
{% endfor %}];
var container = document.getElementById('network');
var data = {
        nodes: nodes,
        edges: edges
};
options = visOption();
options.layout = {"randomSeed":1};
var network = new vis.Network(container, data, options);
</script>
{% endif %}
</div>

</div>

<div id="list" class="col-md-12">

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#node">Node({{nodes|length}})</a></li>
  <li ><a data-toggle="tab" href="#relation">Relation({{relations|length}})</a></li>
  <li ><a data-toggle="tab" href="#cluster">Cluster({{cluster.cluster.all|length}})</a></li>
<!--
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualize<span class="caret"></a>
    <ul class="dropdown-menu">
        <li ><a href="?vis=1">Show</a></li>
        <li ><a href="?vis=2">Anonymize</a></li>
        <li ><a href="?vis=0">Hide</a></li>
        <li ><a href="/visualize/subcluster/{{cluster.id}}">Large View</a>
        <li ><a href="/vis_anonymize/subcluster/{{cluster.id}}">Large View(Anonymized)</a>
    </ul>
  </li>
-->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Export<span class="caret"></a>
    <ul class="dropdown-menu">
        <li ><a href="/export/node/subcluster/{{cluster.id}}">Export Node</a></li>
        <li ><a href="/export/relation/subcluster/{{cluster.id}}">Export Relation</a></li>
        <li ><a href="/export/openioc/subcluster/{{cluster.id}}">Export OpenIOC</a></li>
        <li ><a href="/export/stix/subcluster/{{cluster.id}}">Export STIX</a></li>
    </ul>
  </li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="node" >
<table id="node_table" class="table table-condensed table-stripe table-hover display" width="100%">
<thead><tr>
<th class="col-sm-1">ID</th>
<th class="col-sm-1">Ref</th>
<th class="col-sm-2">Created</th>
<th class="col-sm-2">Index</th>
<th class="col-sm-2">Value</th>
<th class="col-sm-4">SubCluster/Cluster</th>
</tr></thead>
</table>
</div><!--/#node-->

<div class="tab-pane" id="relation" >
<table id="relation_table" class="table table-condensed table-stripe table-hover display" width="100%">
<thead>
<th class="col-sm-1">ID</th>
<th class="col-sm-1">Ref</th>
<th class="col-sm-2">First seen</th>
<th class="col-sm-0.5"></th>
<th class="col-sm-3">Src node</th>
<th class="col-sm-1">Relation</th>
<th class="col-sm-0.5"></th>
<th class="col-sm-3">Dst node</th>
</thead>
</table>
</div><!--/#relation-->

<div class="tab-pane" id="cluster" >
<table id="cluster_table" class="table table-condensed table-stripe table-hover display" width="100%">
<thead>
<th class="col-md-1">ID</th>
<th class="col-md-2">Name</th>
<th class="col-md-4">Description</th>
<th class="col-md-1">Firstseen</th>
</thead>
</table>
</div><!--/#cluster-->

</div><!--/tab-content-->

</div><!--/.col-md-8-->

</div>

{% endblock %}
